/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --Font-Primary: "Fraunces", serif;
  --Font-Secondary: "Montserrat", sans-serif;
  --FWeight-Primary: 400;
  --FWeight-Secondary: 900;
  --Dark-Cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-Dark-Blue: hsl(212, 21%, 14%);
  --Dark-Grayish-Blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Cream);
  gap: 4rem;
}
main {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
  background-color: var(--White);
  border-radius: 1rem;
  min-width: 25rem;
  max-width: 40rem;
}
.img-wrapper {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}
.hero-img {
  border-radius: inherit;
}
.text-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-tag {
  font-family: var(--Font-Secondary);
  color: var(--Dark-Grayish-Blue);
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
}
.item-name {
  font-family: var(--Font-Primary);
  font-weight: var(--FWeight-Secondary);
  font-size: 3rem;
}
.item-detail {
  font-family: var(--Font-Secondary);
  font-weight: var(--FWeight-Primary);
  color: var(--Dark-Grayish-Blue);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.price-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.price-current {
  font-family: var(--Font-Primary);
  font-weight: var(--FWeight-Secondary);
  color: var(--Dark-Cyan);
  font-size: 3rem;
  /* margin-right: 2rem; */
}
.price-previous {
  font-family: var(--Font-Secondary);
  font-size: 1.3rem;
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}
.cart-button {
  font-family: var(--Font-Secondary);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--Dark-Cyan);
  color: var(--White);
  padding: 1.5rem;
  margin: 0 0.5rem;
  display: block;
  text-align: center;
  border-radius: 1rem;
}
.cart-button:hover {
  cursor: pointer;
  background-color: #214031;
}
.cart-icon {
  width: 1.2rem;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    padding: 15rem;
  }
  main {
    flex-direction: row;
    min-width: 60rem;
    border-radius: 1rem;
  }
  .img-wrapper {
    min-width: 50%;
    border-radius: 1rem 0 0 1rem;
    /* background-image: url(/images/image-product-desktop.jpg); */
  }
  .hero-img {
    content: url(/images/image-product-desktop.jpg);
    height: 100%;
    width: auto;
    display: block;
    object-fit: cover;
  }
  .text-wrapper {
    padding-bottom: 2rem;
    gap: 1.8rem;
  }
  .item-name {
    font-size: 3.5rem;
  }
  .item-detail {
    font-size: 1.6rem;
  }
  .cart-button {
    align-self: baseline;
  }
}
